<h1>New Booking</h1>

<h2>Site under construction.</h2>

<input id="pickup_address" placeholder="Pickup address">
<input id="dropoff_address" placeholder="Dropoff address">
<button id="submit_button">Submit</button>
