<div>
  <h1>New Booking</h1>
  <p>Site under construction.</p>
  <input id="pickup_address" placeholder="Pickup address">
  <input id="dropoff_address" placeholder="Dropoff address">
  <button id="submit_button">Submit</button>
</div>
